/* Seccion footer */
footer {
    border-top: 1px solid #fff; 
}

.footer-links{
    text-align: center;
    padding: 20px 0px;
    display: flex;
    justify-content: space-around;
}

/* Fin seccion footer */